.no-close .ui-dialog-titlebar-close, .ui-widget-header{
    display: none;
}
.ui-button{
    width: 100%;
}
#canvasHolder{
    display: none;
}
@font-face { font-family: 'Boogaloo'; src: url('fonts/Boogaloo-Regular.otf'); }
@font-face { font-family: 'Scoreboard'; src: url('fonts/scoreboard.ttf'); }