.no-close .ui-dialog-titlebar-close, .ui-widget-header {
    display: none;
}
.ui-button {
    width: 100%;
}
#canvasHolder {
    display: none;
    height: 55px;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

#canvasHolder *{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#canvasHolder input {
    background: none;
    border: none;
    outline: none;
    background-size: 100% 100%;
    height: 50px;
    font-family: 'Boogaloo';
    font-size: 1em;
    padding: 0px 20px 3px 20px;
}

#canvasHolder input[type=button] {
    background-image: url("../shapes/btn_bg.png");
    color: white;
    width: 10%;
    text-transform: uppercase;

}

#canvasHolder input[type=text] {
    background-image: url("../shapes/text_bar.png");
    color: black;
    width: 20%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    background: url('../shapes/main_background.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@font-face { font-family: 'Boogaloo'; src: url('fonts/Boogaloo-Regular.otf'); }
@font-face { font-family: 'Scoreboard'; src: url('fonts/scoreboard.ttf'); }

.outer-wrapper {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: url('../shapes/main_background.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.inner-wrapper {
    position: relative;
    padding: 1%;
    border-radius: 5px;
    display: table-cell;
    vertical-align: middle;
}

.center-container {
    margin: 0px auto;
    width: 60%;
    max-width: 500px;
    border-radius: 5px;
    padding: 1% 0%;
    font-family: 'Boogaloo';
    text-align: center;
}

#menu-wrapper .title {
    width: 60%;
    left: 20%;
    font-size: 2em;
}

#menu-wrapper .center-container {
    width: 35%;
    font-size: 1.1em;
    max-width: 300px;
}

.center-container *{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
    background-image: url("../shapes/beanstalk_logo.png");
    background-size: 100% 100%;
    padding: 2% 3%;
    box-sizing: border-box;
    width: 46%;
    height:165px;
    position: relative;
    left: 27%;
    color: #60EA08;
    text-shadow: 2px 2px #313232;
    font-size: 2.7em;   
}

.login-input-wrapper,
.register-input-wrapper,
.menu-input-wrapper,
.score-output-wrapper {
    background-image: url("../shapes/hs_table.png");
    background-size: 100% 100%;
    width: 100%;
    padding: 10% 12% 8% 12%;
    box-sizing: border-box;
}

.menu-input-wrapper {
    padding: 20%;   
}

.login-input-wrapper h4,
.register-input-wrapper h4,
.score-output-wrapper h4 {
    text-align: center;
    font-size: 1.3em; 
    color: #60EA08;
    margin: 0;
}

.login-input-wrapper>div,
.register-input-wrapper>div,
.menu-input-wrapper>div,
.score-output-wrapper>div {
    background-image: url("../shapes/hs_table_inner_bg.png");
    background-size: 100% 100%;
    padding: 4% 6% 3% 6%;
    color: #177F00;
    font-size: 1.6em;
    margin-top: 3%;
    text-align: left;
}

.menu-input-wrapper>div {
    text-align: center;
}

.login-input-wrapper input[type=text],
.register-input-wrapper input[type=text],
.register-input-wrapper input[type=password] {
    padding: 2%;
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: 'Boogaloo';
    font-size: .6em;
}

.login-input-wrapper .input-container,
.register-input-wrapper .input-container {
    border-radius: 30px;
    width: 100%;
    margin: 5% 0%;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(1%, #9C9FA1), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #9C9FA1 1px, #FFFFFF 9px);
}

.login-input-wrapper input[type=password] {
    width: 88%;
    padding: 2%;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: 'Boogaloo';
    float: left;
}

.center-container button {
    outline: none;
    cursor: pointer;
}

.login-buttons,
.register-buttons {
    width: 100%;
    text-align: center;
}

.button-conatiner {
    width: 50%;
    float: left;
    text-align: center;
}

.button-conatiner button,
.register-buttons button,
.menu-btns {
    min-width: 80%;
    background-color: transparent;
    border: none;
    font-size: .8em;
    font-family: 'Boogaloo';
    color: white;
    padding: 6% 11% 8% 11%;
    background-image: url("../shapes/btn_bg.png");
    background-size: 100% 100%;
    outline:none;
}

.menu-btns {
    margin: 5% 0%;
}

.register-buttons button {
    min-width: 50%;
    padding: 5% 11% 6% 11%;
}

#play-as-guest {
    background-image: url("../shapes/play_as_guest_btn.png");
    background-size: 100% 100%;
    background-color: transparent;
    border: none;
    font-size: 1.3em;
    font-family: 'Boogaloo';
    color: white;
    padding: 3% 6% 3% 6%;
    outline: none;
}

.msg {
    font-size: .7em;
    text-align: center;
}

.forgot-password {
    font-size: 1em;
    cursor: pointer;
    padding: 0% 3%;
}

.round-btns {
    background-size: 100% 100%;
    background-color: transparent;
    border: none;
    width: 50px;
    height: 50px;
    outline: none;
    cursor: pointer;
}

.volume-btns ,
.music-btns {
    background-image: url("../shapes/audio_btns_sprite.png");
    background-size: 200% 200%;
}
.volume-btns.off-state {
    background-position: 0 0;
}

.music-btns.off-state {
    background-position: 0% 100%;
}

.volume-btns {
    background-position: 100% 0;
}

.music-btns {
    background-position: 100% 100%;
}
#topButtonHolder {
    display: none;
    height: 46px;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#topButtonHolder .volume-btns {
    position: absolute;
    left: 1%;
    top: 1%;
}

.exit-btns {
    background-image: url("../shapes/exit_btn.png");
    position: absolute;
    left: 90%; /* fallback if needed */
    left: calc(100% - 50px);
    top: 1%;
}

.info-btns {
    background-image: url("../shapes/info_btn.png");
    position: absolute;
    left: 65px;
    left: calc(1% + 50px);
    top: 1%;
}

#current-height-bar {
    background-image: url("../shapes/text_bar.png");
    width: 20%;
    background-repeat: no-repeat;
    position: relative;
    width: 190px;
    height: 50px;
    background-size: 100% 100%;
    margin: 0px auto;
}
#current-height-bar label {
    position: relative;
    top: 10px;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 1.3em;
    font-family: 'Boogaloo';
    color: #125003;
}

.score-output-wrapper>div {
    margin-top: 0;
    padding: 1% 3% 1% 3%;
}

#back-button {
    background-image: url("../shapes/back_btn.png");
    background-size: 100% 100%;
    background-color: transparent;
    border: none;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 1%;
    left: 1%;
    outline: none;
    cursor: pointer;
}

#menu-wrapper #back-button {
    display:none;
}
#score-wrapper .title {
    width: 58%;
    left: 21%;
}

.score-output-wrapper .input-container {
    border-radius: 30px;
    width: 100%;
    margin: 0%;
    background-image: url("../shapes/hs_table_light.png");
    background-size: 100% 100%;
    padding: 2% 5%;
    font-size: 0.7em;
}

.score-output-wrapper .input-container.user {
    background-image: url("../shapes/hs_table_green.png");
    color: white;
}

.score-output-wrapper .input-container span {
    display: block;
}

.score-output-wrapper .input-container .position {
    min-width: 19%;
    margin-left: 1%;
    float: left;
}

.score-output-wrapper .input-container .name {
    max-width: 59%;
    float: left;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 1%;
}

.score-output-wrapper .input-container .meters {
    text-align: right;
    max-width: 100%;
}

#share-button {
    background-image: url("../shapes/btn_bg.png");
    background-size: 100% 100%;
    background-color: transparent;
    border: none;
    font-size: 1.3em;
    font-family: 'Boogaloo';
    color: white;
    padding: 3% 6% 3% 6%;
    outline: none;
    margin-top: -6%;
}
.score-output-wrapper .total-scores {
    font-size: 1.3em;
}
.score-output-wrapper .weekly-scores {
    font-size: 1.3em;
}
#canvasHolder #inputText {
    padding-left:2%;
}

/*Placeholder style for splash and help screen*/

#help-screen {
    background-color: white;
    display: none;
    position: absolute;
    height: 70%;
    width: 94%;
    top: 15%;
    left: 3%;
}

.help-screen-container,
.splash-screen-container {
    position: relative;
    padding: 1%;
    border-radius: 5px;
    display: table-cell;
    vertical-align: middle;   
}

#help-screen .main-title {
    display: inline;
    margin-bottom: 2%;
    font-size: 3em;
    font-family: arial;
}

#help-screen button {
    position: absolute;
    left: 3%;
    top: 1%;
}

.help-screen-content {
    height: calc(100% - 150px);
    width: 94%;
    margin: 0px auto;
    overflow-y: scroll;
    margin-top: 10px;
}

.help-back-button {
    padding: 1% 2%;
    border-radius: 6px;
}

.splash-screen {
    background-color: white;
    display: none;
    position: absolute;
    height: 94%;
    width: 94%;
    top: 3%;
    left: 3%;
}

.splash-screen img {
    width: 50%;
    max-width: 300px;
}

@media screen and (max-width: 700px),
screen and (max-height: 600px) { 
    .center-container {
        width: 75%;
        max-width: 400px;
    }
    .title {
        font-size: 1.5em;
    }
    .login-input-wrapper h4,
    .register-input-wrapper h4 {
        font-size: 1em;
    }
    .login-input-wrapper>div,
    .register-input-wrapper>div {
        font-size: 1em;
    }
    .button-conatiner button,
    .register-buttons button {
        font-size: 1em;
    }

    #play-as-guest {
        font-size: 1em;
    }

    .forgot-password {
        font-size: 1.3em;
    }
    #menu-wrapper .title {
        font-size: 1.5em;
    }

    #menu-wrapper .center-container {
        width: 70%;
        font-size: .8em;
    }
    #canvasHolder input {
        width: auto !important;
    }

    #score-wrapper .center-container {
        width: 90%;
        font-size: .8em;
    }

    #topButtonHolder {
        height: 35px;
    }

    .info-btns {
        left: 48px;
    }

    #trees-grown-bar {
        width: 173px;
        height: 40px;
    }

    #trees-grown-bar label {
        top: 8px;
        width: 30px;
        left: 135px;
        font-size: 1em;
    }

    .round-btns {
        width: 40px;
        height: 40px;
    }
    
    #canvasHolder {
        height: 45px;
    }

    #canvasHolder input {
        height: 42px;
        font-size: .8em;
        padding: 0px 20px 3px 20px;
    }

    #canvasHolder input[type=button] {
        width: 10%;

    }

    #canvasHolder input[type=text] {
        width: 20%;
    }
}

@media screen and (max-width: 500px),
screen and (max-height: 500px) { 
    .center-container {
        max-width: 300px;
    }
    
    .inner-wrapper {
        padding: 0;
    }
    
    .title {
        font-size: 1.1em;
    }
    
    .login-input-wrapper h4,
    .register-input-wrapper h4 {
        font-size: .9em;
    }
    
    .login-input-wrapper>div,
    .register-input-wrapper>div {
        font-size: .9em !important;
    }
    
    .button-conatiner button,
    .register-buttons button {
        font-size: .9em;
    }

    .login-input-wrapper input[type=text] {
        font-size: .7em;
    }

    #play-as-guest {
        font-size: .9em;
    }

    #password {
        font-size: .7em;
    }

    .forgot-password {
        font-size: 1.3em;
    }
    #menu-wrapper .title {
        font-size: 1.3em;
    }

    #menu-wrapper .center-container {
        width: 70%;
        font-size: .8em;
    }

    #score-wrapper .center-container {
        width: 90%;
        font-size: .8em;
    }
    
    .button-conatiner button,
    .register-buttons button,
    .menu-btns {
        padding: 6% 11% 8% 11%;
        font-size: .7em;
        outline:none;
    }
    
    .menu-input-wrapper {
        padding: 14%;
    }
    
    .menu-btns {
        margin: 1% 0%;
    }
}
#options-screen {
    background-color: white;
    display: none;
    position: absolute;
    height: 94%;
    width: 94%;
    top: 3%;
    left: 3%;
}

#slide-container {
    width: 50%;
    max-width: 300px;
    margin: 0px auto;
}

.options-screen .slider {
    width: 200px;
}

.options-back-button {
    position: absolute;
    top: 10%;
    left: 10%;
}

.login-box-wrapper {
    background-image: url("../shapes/login_box.png");
    background-size: 100% 100%;
    position : absolute;
    width: 135px;
    height : 142px;
    top: 10%;
    right: 10%;
}
.welcome-title{
    font-size: 1.3em;
    font-family: 'Boogaloo';
    color: #125003;
}
.login-box-wrapper .welcome-title{
    position: relative;
    text-align: center;
    top:5%;
}
.login-box-wrapper .button-conatiner{
    width:100%;
    top:65%;
    left:1%;
    position:absolute;
    outline:none;
}
.login-box-wrapper #login-box-text{
    font-family: Boogaloo;
    font-size: 1.4em;
    color:white;
}
.center-container .logo{
    background-image: url("../shapes/beanstalk_logo.png");
    background-size: 100% 100%;
}