<html>
<head>
    <script src="js/lib/createjs-2013.12.12.min.js"></script>
    <script src="js/lib/jquery-1.11.1.min.js"></script>
    <script src="js/lib/jquery-ui.js"></script>
    <script src="js/data/Manifest.js"></script>
    <script src="js/lib/lodash.min.js"></script>
    <script src="js/lib/underscore.js"></script>
    <script src="js/lib/levenshtein.js"></script>
    <script src="js/lib/wordCompare.js"></script>
    <script src="js/model/Preloader.js"></script>
    <script src="js/data/CaptchaJson.js"></script>
    <script src="js/model/SmbLoadQueue.js"></script>
    <script src="js/model/GameState.js"></script>
    <script src="js/model/Bamboo.js"></script>
    <script src="js/model/Leaf.js"></script>
    <script src="js/model/Seed.js"></script>
    <script src="js/model/Background.js"></script>
    <script src="js/model/CaptchaProcessor.js"></script>
    <script src="js/model/Cookie.js"></script>
    <script src="js/model/LocalStorage.js"></script>
    <script src="js/controller/ServerAPIController.js"></script>
    <script src="js/controller/LocalStorageController.js"></script>
    <script src="js/controller/MenuController.js"></script>
    <script src="js/controller/StageController.js"></script>
    <script src="js/controller/GameController.js"></script>
    <script src="js/EventBus.js"></script>
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/game.css">
    <script>
        function init() {

            var popupCanvas = document.getElementById("loaderCanvas");
            popupCanvas.width = window.innerWidth - 150;
            popupCanvas.height = window.innerHeight- 150;

            gc = new GameController();
            gc.init();
        }

    </script>
</head>
<body onload="init()">
    <div id="topButtonHolder" class="buttonHolder">
        <button class="volume-btns round-btns"></button>
        <button class="info-btns round-btns"></button>
        <div id="trees-grown-bar">
            <label>0</label>
        </div>
        <button class="exit-btns round-btns"></button>
    </div>
    
<canvas id="myCanvas" ></canvas>

<div style="position: absolute; top: 0%; left: 0%; width: 90%; height: 90%; ">
    <canvas id="loaderCanvas"></canvas>
</div>

<div id="dialog-shop" style="display: none;">
    <canvas id="popupCanvas"></canvas>
</div>

<div id="menu-wrapper" class="outer-wrapper">
    <div class="inner-wrapper">
        <button id="back-button" onClick="EventBus.dispatch(&quot;backToLogin&quot;)"></button>
        <div class="center-container">
            <div class="title">WELCOME</div>
            <div class="menu-input-wrapper">

                <div>
                    <button id="new-game" class="menu-btns" onClick="EventBus.dispatch(&quot;exitMenu&quot;);EventBus.dispatch(&quot;newGame&quot;)">NEW GAME</button>
                    <button id="resumeButton" class="menu-btns" onClick="EventBus.dispatch(&quot;resumeGame&quot;)">RESUME GAME</button>
                    <!--<button onClick="EventBus.dispatch(&quot;exitMenu&quot;);EventBus.dispatch(&quot;showShop&quot;)">Shop</button>-->
                    <button id="continueButton" class="menu-btns" onClick="EventBus.dispatch(&quot;exitMenu&quot;);EventBus.dispatch(&quot;continueGame&quot;)">CONTINUE</button>
                    <button id="highScore-btn" class="menu-btns" onClick="EventBus.dispatch(&quot;highScore&quot;)">HIGH SCORES</button>
                    <button id="logOut-btn" class="menu-btns" onClick="EventBus.dispatch(&quot;logOut&quot;)">LOG OUT</button>
                    <button class="menu-btns">HELP</button>
                    <div>
                        <button class="volume-btns round-btns"></button>
                        <button class="volume-btns round-btns"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="login-wrapper" class="outer-wrapper">
    <div class="inner-wrapper">
        <div class="center-container">
            <div class="title">LOGO</div>
            <div class="login-input-wrapper">
                <h4>LOGIN TO SAVE YOUR PROGRESS ONLINE</h4>
                <div>
                    <p>EMAIL ADDRESS</p>
                     <div class="input-container">
                    <input type="text" id="user-name" placeholder="User name" />
                    </div>
                    <p>PASSWORD</p>
                    <div class="input-container">
                        <input type="password" id="password" placeholder="Password"/>
                        <span class="forgot-password" onClick="EventBus.dispatch(&quot;resetPassword&quot;)">?</span>
                    </div>
                    <div class="login-buttons">
                        <div class="button-conatiner">
                            <button id="login" onClick="EventBus.dispatch(&quot;userLogin&quot;)">LOGIN</button>
                        </div>
                        <div class="button-conatiner">
                            <button id="register" onClick="EventBus.dispatch(&quot;showRegisterScreen&quot;)">REGISTER</button>
                        </div>
                    </div>
                    <div style="clear:both"></div>
                    <p class="error-msg msg" style="color: red; display: none;">Error</p>
                    <p class="login-msg msg" style="color: #177F00; display: none;">Logging....</p>
                    <p class="reset-password-msg msg" style="color: #177F00; display: none;">Link to password reset page has been emailed to you</p>
                </div>
            </div>
            <button id="play-as-guest" onClick="EventBus.dispatch(&quot;playAsGuest&quot;)">PLAY AS GUEST</button>
        </div>
    </div>
</div>

<div id="register-wrapper" class="outer-wrapper">
    <div class="inner-wrapper">
        <button id="back-button" onClick="EventBus.dispatch(&quot;backToLogin&quot;)"></button>
        <div class="center-container">
            <div class="title">LOGO</div>
            <div class="register-input-wrapper">
                <h4>REGISTER</h4>
                <div>
                    <p>EMAIL ADDRESS</p>
                     <div class="input-container">
                        <input type="text" id="register-user-name" />
                    </div>
                    <p>PASSWORD</p>
                    <div class="input-container">
                        <input type="password" id="register-password" />
                    </div>
                    <p>CONFIRM PASSWORD</p>
                    <div class="input-container">
                        <input type="password" id="confirm-password" />
                    </div>
                    <div class="register-buttons">
                            <button id="register-submit" onClick="EventBus.dispatch(&quot;registerUser&quot;)">REGISTER</button>
                    </div>
                    <div style="clear:both"></div>
                    <p class="error-msg msg" style="color: red; display: none;">Error</p>
                    <p class="register-msg msg" style="color: #197206; display: none;">Registering.......</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="score-wrapper" class="outer-wrapper">
    <div class="inner-wrapper">
        <button id="back-button" onClick="EventBus.dispatch(&quot;backButtonClick&quot;)"></button>
        <div class="center-container">
            <div class="title">HIGHSCORES</div>
            <div class="score-output-wrapper">
                <h4>ALL TIME</h4>
                <div class="total-scores">

                </div>
                <h4>WEEKLY</h4>
                <div class="weekly-scores">

                </div>
            </div>
            <button id="share-button">SHARE</button>
        </div>
    </div>
</div>

<script type="text/template" id="scoreComponents">
    <% _.each(items, function(item) { 
        function ordinalSuffixOf(i) {
        var j = i % 10,
            k = i % 100;
        if (j == 1 && k != 11) {
            return i + "st";
        }
        if (j == 2 && k != 12) {
            return i + "nd";
        }
        if (j == 3 && k != 13) {
            return i + "rd";
        }
        return i + "th";
    }
    if (user == item.email ) { %>
                        <div class="input-container user">
                    <% }
                    else { %>
                        <div class="input-container">     
                    <%}
                %>  
        <span class="position"><%=ordinalSuffixOf(item.position + 1)%></span>
        <span class="name"><%=item.email%></span>
        <span class="meters"><%=item.meters == null ? item.weeklyMeters: item.meters%>m</span>
    </div>
    <% }); %>
</script>

<div id="canvasHolder" class="buttonHolder" style="padding-top: 10px;">
    <input id="passButton" type="button" value="Pass" onclick="EventBus.dispatch(&quot;passText&quot;)" ></input>
    <input id="inputText" type="text" placeholder="Enter captcha" onkeydown="if(event.keyCode == 13){EventBus.dispatch(&quot;compareCaptcha&quot;)}" autofocus></input>
    <input id="submitButton" type="button" value="Submit" onclick="EventBus.dispatch(&quot;compareCaptcha&quot;)"></input>
    <!--<input id="submitButton" type="button" value="Submit" onclick="EventBus.dispatch(&quot;compareCaptcha&quot;)"></input>-->
</div>

</body>
</html>