#mainMenu {
	pointer-events: auto;
}

#mainMenu .logo {
	position: absolute;
	top: 14px;
	left: 160px;
	width: 550px;
}

#mainMenu .menu-container {
	background-image: url("../images/UI/main menu/buttons_bg.png");
	background-size: 100% 100%;
	width: 730px;
	height: 870px;
	position: absolute;
	top: 260px;
	left: 70px;
	padding: 190px;
}

#mainMenu .menu-container button.text-button {
	width: 340px;
	height: 130px;
	margin-bottom: 10px;
	font-size: 50px;
}

